<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Home Page</h1>
        <img src="/images-14.jpg">
        <p>Always happy to be at home</p>
        <a href="/about">Go to the About page</a>
    </body>
</html>